body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

header {
    background: #0056b3;
    padding: 1em 2em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

main {
    text-align: center;
}

.hero {
    margin: 2em 0;
}

.video-container, .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.intro-imgs-row h1 {
    margin: 5em 0;
    text-align: center;
    padding-top: 150px;
}

.download-button {
    background-color: #fff;
    color: #0056b3;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    margin: 2rem 0rem;
}

.download-button:hover {
    background-color: #e0e0e0;
}

.intro-imgs img {
    width: 350px;
    border-radius: 15px;
}

.img-right {
    margin-left: 120px;
}

.img-left {
    margin-right: 120px;
}

.intro-imgs-row {
    display: flex;
    justify-content: center;
    background-color: rgb(246, 236, 236);
    padding-top: 80px;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: 100px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature {
    background: #0056b3;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    max-width: 300px;
    text-align: left;
}

.feature img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background: #0056b3;
    padding: 1em 2em;
    text-align: center;
}

footer p {
    margin: 0.5em 0;
}

footer div {
    margin-top: 1em;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
    header {
        padding: 1em;
    }

    .download-button {
        margin: 1rem 0;
    }

    .video-container, .image-container {
        flex-direction: column;
    }

    .img-right, .img-left {
        margin: 20px 0;
    }

    .intro-imgs-row h1 {
        margin: 2em 0;
        padding-top: 50px;
    }

    .intro-imgs-row {
        padding-top: 40px;
    }

    .intro-imgs img {
        width: 100%;
        margin: 10px 0;
    }

    .feature {
        max-width: 100%;
        margin: 1em 0;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }
}
